<!--this div will be visible only when condition is true-->

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <!--Pipes:transform data from one form to another
   <div class="row">
    <div class="col-md-12">
        <h3>
            welcome {{username | uppercase}}
        </h3>
        <h3>Today's date {{todayDate |date :'M-d-yy'}}
        </h3>

        <td>
           price is  {{c|currency:'INR'}}
        </td>

        
    </div>
   </div>
<div *ngIf="hasError"><h2>This page has an error</h2></div>

<div *ngIf="true">This element will be displayed</div>

<div *ngIf="false">This element will not be displayed</div>

<div *ngFor="let item of items; let i=index">
    <p>{{item}}{{i}}</p>
</div>

<div [ngSwitch]="'three'">
    <div *ngSwitchCase="'one'">one will be displayed</div>
    <div *ngSwitchCase="'two'">two will be displayed</div>
    <div *ngSwitchDefault>deafult will be displayed</div>
</div>
<input [(ngModel)]="data" type="text">
<hr>
<h3>Enter data is {{data}}</h3>
</body>
</html>-->