* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 90px; 
    background-color:darkblue;
    color: white;
    text-align: center; 
    padding-top: 20px; 
}

.footer p {
    font-size: 18px; 
    line-height: 1.5; 
}
