<div class="container">
<div class="row">
    <div class=" col md-4">
        <button class="btn btn-success " (click)="searchMovie()">searchmovie</button>
    </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{movies?.Title}}</h5>
                  <p class="card-text">{{movies?.Plot}}</p>
                  <p class="card-text">{{movies?.Director}}</p>
                  <p class="card-text">{{movies?.Actors}}</p>
                  <a href="#" class="btn btn-primary" >gosomewhere</a>
                  </div>
                  </div>


</div>
</div>
